<div class="flex flex-col xl:flex xl:flex-row justify-center xl:h-screen xl:w-full w-screen" id="portal">
  <section
    class="flex flex-row xl:flex-col justify-between items-center xl:w-1/2 bg-bg"
    id="sidebar"
  >
    <img class="w-60 m-4 cursor-pointer" src="../assets/logo_canaldireto.svg" alt="SP+Perto" />
    <h1 class="text-wrap font-bold m-4">
      Ferramentas de todas as secretarias em um único só lugar!
    </h1>
    <p>Data e Hora</p>
  </section>
  <section>
    <div *ngFor="let item of data">
      <h3>{{ item.title }}</h3>
      <ul>
        <li *ngFor="let link of item.links">{{ link }}</li>
      </ul>
    </div>
  </section>
  <!-- <section
    class="xl:flex xl:flex-col relative w-auto bg-gradient-to-bl from-blue-dark to-blue text-center cursor-pointer"
    id="listItems"
    *ngFor="let link of links"
  >
    <div class="group">
      <img
        class="p-4"
        id="logo"
        src="../assets/logo_canaldireto.svg"
        alt="Logos"
      />
      <button
        id="link"
        class="m-4 p-4 bg-button text-bg border-none cursor-pointer rounded-md"
        id="link"
        *ngFor="let link of link.links"
      >
        Link {{ link }}
      </button>
    </div>
    <div
      id="secretaria"
      class="absolute -inset-x-0 bottom-28 font-semibold text-2xl p-4 rotate-90 bg-yellow text-bg uppercase"
    >
      {{ link.title }}
    </div>
  </section> -->
</div>
