/* @media only screen and (max-width: 1199px) {
  .card,
  .card {
    height: 150px;
  }

  .card.hover {
    height: 250px;
  }

  .card.hover .less {
    display: block;
  }

  .card.hover .more {
    display: none;
  }

  .card .more {
    display: block;
  }
} .hover {
    width: 100%;
  }

  .card */
