<div class="flex flex-row justify-center h-screen w-full" id="portal">
  <section class="flex flex-col justify-between items-center w-auto bg-bg"  id="sidebar">
    <img class="w-60 m-4" src="../assets/logo_canaldireto.svg" alt="SP+Perto">
    <h1 class="text-wrap font-bold m-4">Ferramentas de todas as secretarias em um único só lugar!</h1>
    <p>Data e Hora</p>
  </section>
  <section
    class="flex flex-col relative w-auto bg-gradient-to-bl from-blue-dark to-blue text-center"
    id="listItems"
    *ngFor="let link of links"
  >
    <div class="group">
      <img class="p-4" src="../assets/logo_canaldireto.svg" alt="Logos">
      <button
        id="link"
        class="m-4 p-4 bg-button text-bg border-none cursor-pointer rounded-md"
        id="link"
        *ngFor="let link of link.links"
      >
        Link {{ link }}
      </button>
    </div>
    <div
      id="secretaria"
      class="absolute -inset-x-0 bottom-28 font-semibold text-2xl p-4 rotate-90 bg-yellow text-bg uppercase"
    >
      {{ link.title }}
    </div>
  </section>
</div>
