<div class="flex flex-col xl:flex-row xl:h-screen bg-red-dark">
  <section
    class="flex flex-row xl:flex-col xl:items-center xl:w-1/2 xl:bg-gradient-to-r xl:from-text xl:to-bg xl:hover:from-gray-light xl:hover:to-gray xl:cursor-pointer"
    id="listItems"
    *ngFor="let secretaria of secretarias"
  >
    <img
      class="xl:p-4 bg-text xl:h-24 xl:w-full"
      id="logo"
      src="{{ secretaria.logo }}"
      alt="{{ secretaria.logo }} Logos"
    />
    <h1 class="xl:text-lg md:text-base sm:text-sm" id="telefone">
      {{ secretaria.telefone }}
    </h1>
    <ul class="xl:w-full md:w-1/2 sm:w-full">
      <li
        class="xl:flex xl:flex-col xl:items-center"
        *ngFor="let link of secretaria.links"
      >
        <a
          class="m-2 p-4 text-nowrap bg-button text-bg border-none cursor-pointer rounded-md md:text-sm sm:text-xs"
          id="link"
          [href]="link.url"
          target="_blank"
          >{{ link.name }}</a
        >
      </li>
    </ul>
    <div
      class="xl:absolute xl:bottom-40 xl:text-nowrap xl:text-center font-semibold xl:text-2xl p-4 xl:rotate-90 bg-red text-bg uppercase md:text-xl sm:text-lg"
    >
      {{ secretaria.nome }}
    </div>
  </section>
</div>
