#link {
  visibility: hidden; /* Oculta o link inicialmente */
  transition: visibility 0s ease-in-out; /* Efeito de transição suave para hover */
}

#telefone {
  visibility: hidden; /* Oculta o link inicialmente */
  transition: visibility 0s ease-in-out; /* Efeito de transição suave para hover */
}

#logo{
  opacity: 0.5;
}

#listItems:hover #logo {
  height: 20%;
  opacity:1;
}

#listItems:hover #link {
  visibility: visible; /* Exibe o link ao passar o mouse */
  transition: visibility 0s ease-in-out; /* Efeito de transição suave */
}

#listItems:hover #telefone {
  visibility: visible; /* Exibe o link ao passar o mouse */
  transition: visibility 0s ease-in-out; /* Efeito de transição suave */
}

#listItems {  
  transition: opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  width: 10%;
}

#listItems:hover {
  filter: brightness(1.2);
  box-shadow: -2px -2px 25px #000, 2px 2px 25px #fff;
  width: 20%;
}

@media screen and (max-width: 1440px) {
  #listItems {
    width: 5%;
  }
  #listItems:hover {
    width: 10%;
  }
}
