<div class="flex flex-col xl:flex-row xl:h-screen">
  <section
    class="group relative flex flex-row items-center hover:w-full xl:flex-col xl:w-1/2 xl:bg-gradient-to-r xl:from-text xl:to-bg xl:hover:from-gray-light xl:hover:to-gray xl:cursor-pointer xl:hover:brightness-120 xl:hover:shadow-lg xl:transition-all"
    *ngFor="let secretaria of secretarias"
  >
    <img
      class="bg-text h-10 xl:h-24 xl:w-full xl:p-4 xl:opacity-50 xl:group-hover:opacity-100 xl:group-hover:h-1/5"
      src="{{ secretaria.logo }}"
      alt="{{ secretaria.logo }} Logos"
    />
    <h1
      class="xl:text-lg xl:invisible xl:group-hover:visible xl:group-hover:transition-none xl:ease-in-out xl:duration-0"
    >
      {{ secretaria.telefone }}
    </h1>
    <ul class="sm:w-full md:w-1/2 xl:w-full">
      <li
        class="xl:flex xl:flex-col xl:items-center xl:ease-in-out xl:duration-0"
        *ngFor="let link of secretaria.links"
      >
        <a
          class="absolute xl:relative m-2 p-4 text-nowrap bg-button text-bg border-none xl:cursor-pointer rounded-md invisible xl:group-hover:visible xl:group-hover:transition-none"
          id="link"
          [href]="link.url"
          target="_blank"
          >{{ link.name }}</a
        >
      </li>
    </ul>
    <div
      class="absolute inset-y-0 right-0 text-nowrap text-center font-semibold p-4 bg-red text-bg uppercase xl:inset-y-auto xl:right-auto xl:bottom-40 xl:rotate-90 xl:text-2xl"
    >
      {{ secretaria.nome }}
    </div>
  </section>
</div>
