/* #link {
  visibility: hidden; 
  transition: visibility 0s ease-in-out; 
} */

/* #telefone {
  visibility: hidden; 
  transition: visibility 0s ease-in-out; 
} */

/* #listItems {  
  transition: opacity 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  width: 10%;
} */


/* #listItems:hover {
  filter: brightness(1.2);
  box-shadow: -2px -2px 25px #000, 2px 2px 25px #fff;
  width: 20%;
} */

/* #listItems:hover #logo {
  height: 20%;
  opacity: 1;
} */

/* #listItems:hover #link {
  visibility: visible; 
  transition: visibility 0s ease-in-out;
} */

/* #listItems:hover #telefone {
  visibility: visible; 
  transition: visibility 0s ease-in-out; 
} */


/* 
@media screen and (max-width: 1440px) {

  #link, #telefone, #logo {
    transition: none !important;
  }

  #listItems:hover #logo,
  #listItems:hover #link,
  #listItems:hover #telefone {
    opacity: 1 !important;
    transition: none !important;
  }
} */

