<section
  class="flex flex-row relative h-full xl:flex-col justify-between items-center xl:w-1/2 bg-bg cursor-pointer"
  id="listItems"
  *ngFor="let secretaria of secretarias"
>
  <div 
  class="group"
  *ngIf="secretaria.link_1"
  >
    <img class="p-4" id="logo" src="assets/logo_canaldireto.svg" alt="Logos" />

    <a
      class="m-4 p-4 bg-button text-bg border-none cursor-pointer rounded-md"
      id="link"
      href="{{ secretaria.link_1 }}" target="_blank"
    >
    Link 1
  </a>
  </div>
  <div
    class="absolute bottom-10 font-semibold text-2xl p-4 rotate-90 bg-yellow text-bg uppercase"
  > 
  {{ secretaria.nome }} 
  </div>
</section>
